
body {
  font-family: DM Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1E0E62;
  -webkit-font-smoothing: antialiased;
}

body.dev {
  background: #ccc;
  min-height: 10000px;
}

/* Container */
.container {
  position: relative;
}

::-moz-selection {
  background: #dec82c;
  color: #ffffff;
}

::-webkit-selection {
  background: #DEC82C;
  color: #ffffff;
}

::selection {
  background: #DEC82C;
  color: #ffffff;
}

/* Navigation */
nav, header, section, footer {
  position: relative;
}

div.navBarRow {
  font-size: 18px;
  line-height: 28px;
}

a.navBarItem {
  padding-right: 0.5em;
  color: #737a70;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.5em;
}

a.navBarItem:hover {
  color: #ffffff;

}

header, section, [data-bg-src], [data-bg-src-2x] {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

header, section {
  overflow: hidden;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  width: 100%;
}

nav.transparent {
  background: transparent;
}

nav.menubar {
  padding: 10px 0px 10px 0px;
  background-color: #C9CABB
}

div.bookIntro {
  padding-top: 1em;
}

div.bookImage {
  align-items: center;
}

/* Paddings */
.pt-100 {
  padding-top: 100px;
}
.pt-105 {
  padding-top: 105px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-45 {
  padding-bottom: 45px;
}

.pb-100 {
  padding-bottom: 100px;
}

/* Margins */

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-15 {
  margin-right: 15px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

/* Width Controls */
.w-full {
  width: 100%;
}

/* Fonts */

.f-12 {
  font-size: 12px;
  line-height: 22px;
}

.f-14 {
  font-size: 14px;
  line-height: 24px;
}

.f-16 {
  font-size: 16px;
  line-height: 26px;
}

.f-18 {
  font-size: 18px;
  line-height: 28px;
}

.f-20 {
  font-size: 20px;
  line-height: 30px;
}

.f-22 {
  font-size: 22px;
  line-height: 32px;
}

.f-24 {
  font-size: 24px;
  line-height: 34px;
}

.f-26 {
  font-size: 26px;
  line-height: 36px;
}

.f-28 {
  font-size: 28px;
  line-height: 38px;
}

.f-30 {
  font-size: 30px;
  line-height: 40px;
}

.f-32 {
  font-size: 32px;
  line-height: 42px;
}

.f-34 {
  font-size: 34px;
  line-height: 44px;
}

.f-36 {
  font-size: 36px;
  line-height: 46px;
}

.f-38 {
  font-size: 38px;
  line-height: 48px;
}

.f-40 {
  font-size: 40px;
  line-height: 50px;
}

.f-42 {
  font-size: 42px;
  line-height: 52px;
}

.f-44 {
  font-size: 44px;
  line-height: 54px;
}

.f-46 {
  font-size: 46px;
  line-height: 56px;
}

.f-48 {
  font-size: 48px;
  line-height: 58px;
}

.f-50 {
  font-size: 50px;
  line-height: 60px;
}

.f-52 {
  font-size: 52px;
  line-height: 62px;
}

.f-54 {
  font-size: 54px;
  line-height: 64px;
}

.f-56 {
  font-size: 56px;
  line-height: 66px;
}

.f-58 {
  font-size: 58px;
  line-height: 68px;
}

.f-60 {
  font-size: 60px;
  line-height: 70px;
}

.f-62 {
  font-size: 62px;
  line-height: 72px;
}

.f-64 {
  font-size: 64px;
  line-height: 74px;
}

.f-66 {
  font-size: 66px;
  line-height: 76px;
}

.f-68 {
  font-size: 68px;
  line-height: 78px;
}

.f-70 {
  font-size: 70px;
  line-height: 80px;
}

.f-72 {
  font-size: 72px;
  line-height: 82px;
}

.f-74 {
  font-size: 74px;
  line-height: 84px;
}

.f-76 {
  font-size: 76px;
  line-height: 86px;
}

.f-78 {
  font-size: 78px;
  line-height: 88px;
}

.f-80 {
  font-size: 80px;
  line-height: 90px;
}

.f-82 {
  font-size: 82px;
  line-height: 92px;
}

.f-84 {
  font-size: 84px;
  line-height: 94px;
}

.f-86 {
  font-size: 86px;
  line-height: 96px;
}

.f-88 {
  font-size: 88px;
  line-height: 98px;
}

.f-90 {
  font-size: 90px;
  line-height: 100px;
}

.f-92 {
  font-size: 92px;
  line-height: 102px;
}

.f-94 {
  font-size: 94px;
  line-height: 104px;
}

.f-96 {
  font-size: 96px;
  line-height: 106px;
}

.f-98 {
  font-size: 98px;
  line-height: 108px;
}

.f-100 {
  font-size: 100px;
  line-height: 110px;
}

.f-102 {
  font-size: 102px;
  line-height: 112px;
}

.lh-12 {
  line-height: 12px;
}

.lh-14 {
  line-height: 14px;
}

.lh-16 {
  line-height: 16px;
}

.lh-18 {
  line-height: 18px;
}

.lh-20 {
  line-height: 20px;
}

.lh-22 {
  line-height: 22px;
}

.lh-24 {
  line-height: 24px;
}

.lh-26 {
  line-height: 26px;
}

.lh-28 {
  line-height: 28px;
}

.lh-30 {
  line-height: 30px;
}

.lh-32 {
  line-height: 32px;
}

.lh-34 {
  line-height: 34px;
}

.lh-36 {
  line-height: 36px;
}

.lh-38 {
  line-height: 38px;
}

.lh-40 {
  line-height: 40px;
}

.lh-42 {
  line-height: 42px;
}

.lh-44 {
  line-height: 44px;
}

.lh-46 {
  line-height: 46px;
}

.lh-48 {
  line-height: 48px;
}

.lh-50 {
  line-height: 50px;
}

.lh-52 {
  line-height: 52px;
}

.lh-54 {
  line-height: 54px;
}

.lh-56 {
  line-height: 56px;
}

.lh-58 {
  line-height: 58px;
}

.lh-60 {
  line-height: 60px;
}

.lh-62 {
  line-height: 62px;
}

.lh-64 {
  line-height: 64px;
}

.lh-66 {
  line-height: 66px;
}

.lh-68 {
  line-height: 68px;
}

.lh-70 {
  line-height: 70px;
}

.lh-72 {
  line-height: 72px;
}

.lh-74 {
  line-height: 74px;
}

.lh-76 {
  line-height: 76px;
}

.lh-78 {
  line-height: 78px;
}

.lh-80 {
  line-height: 80px;
}

.lh-82 {
  line-height: 82px;
}

.lh-84 {
  line-height: 84px;
}

.lh-86 {
  line-height: 86px;
}

.lh-88 {
  line-height: 88px;
}

.lh-90 {
  line-height: 90px;
}

.lh-92 {
  line-height: 92px;
}

.lh-94 {
  line-height: 94px;
}

.lh-96 {
  line-height: 96px;
}

.lh-98 {
  line-height: 98px;
}

.lh-100 {
  line-height: 100px;
}

.lh-102 {
  line-height: 102px;
}

.lh-104 {
  line-height: 104px;
}

.lh-106 {
  line-height: 106px;
}

.lh-108 {
  line-height: 108px;
}

.lh-110 {
  line-height: 110px;
}

.lh-112 {
  line-height: 112px;
}

.lh-114 {
  line-height: 114px;
}

.lh-116 {
  line-height: 116px;
}

.lh-118 {
  line-height: 118px;
}

.lh-120 {
  line-height: 120px;
}

.lh-122 {
  line-height: 122px;
}

.lh-124 {
  line-height: 124px;
}

.lh-126 {
  line-height: 126px;
}

.lh-128 {
  line-height: 128px;
}

.lh-130 {
  line-height: 130px;
}

.lh-132 {
  line-height: 132px;
}

.lh-134 {
  line-height: 134px;
}

.lh-136 {
  line-height: 136px;
}

.lh-138 {
  line-height: 138px;
}

.lh-140 {
  line-height: 140px;
}

.lh-142 {
  line-height: 142px;
}

.lh-144 {
  line-height: 144px;
}

.lh-146 {
  line-height: 146px;
}

.lh-148 {
  line-height: 148px;
}

.lh-150 {
  line-height: 150px;
}

.lh-152 {
  line-height: 152px;
}

.lh-154 {
  line-height: 154px;
}

.lh-156 {
  line-height: 156px;
}

.lh-158 {
  line-height: 158px;
}

.lh-160 {
  line-height: 160px;
}

.lh-162 {
  line-height: 162px;
}

.lh-164 {
  line-height: 164px;
}

.lh-166 {
  line-height: 166px;
}

.lh-168 {
  line-height: 168px;
}

.lh-170 {
  line-height: 170px;
}

.lh-172 {
  line-height: 172px;
}

.lh-174 {
  line-height: 174px;
}

.lh-176 {
  line-height: 176px;
}

.lh-178 {
  line-height: 178px;
}

.lh-180 {
  line-height: 180px;
}

.lh-182 {
  line-height: 182px;
}

.lh-184 {
  line-height: 184px;
}

.lh-186 {
  line-height: 186px;
}

.lh-188 {
  line-height: 188px;
}

.lh-190 {
  line-height: 190px;
}

.lh-192 {
  line-height: 192px;
}

.lh-194 {
  line-height: 194px;
}

.lh-196 {
  line-height: 196px;
}

.lh-198 {
  line-height: 198px;
}

.lh-200 {
  line-height: 200px;
}

.lh-202 {
  line-height: 202px;
}



.color-heading {
  color: #4c5a6b;
}

/* Links */
a, button {
  cursor: pointer;
  transition: all 0.25s;
}

a:hover, button:hover {
  text-decoration: none;
}

a:active, a:focus, button:active, button:focus {
  text-decoration: none;
  outline: none;
}

/* Buttons */
button {
  border: none;
  outline: none !important;
}

.btn.action-1 {
  background-color: #c9cabb;
  color: #ffffff;
}

.btn.action-1:hover {
  background-color: #AEB0A6;
}

.action-3 {
  color: #E93A7D;
}
.action-3.link:hover {
  color: #d81862;
}

.btn.sm {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}

.btn.sm[class^=border-], .btn.sm[class*=" border-"] {
  line-height: 36px;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  font-weight: 700;
  font-family: DM Sans, Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-size: 58px;
  line-height: 70px;
}

h1.big, h2.big {
  font-size: 72px;
  line-height: 86px;
}

h1.small, h2.small {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
}

h3 {
  font-size: 42px;
  line-height: 52px;
}

/* Colors */
.bg-light {
  background-color: #ffffff !important;
}

.bookAltColor {
  color: #7D5941;
}

.bookColor {
  color: #c9cabb;
}

.bookColorDark {
  color: #737a70;
}

.bookBackgroundColor {
  background-color: #c9cabb;
}

.bookBackgroundColorDark {
  background-color: #737a70;
}

/* AOS plugin */
/* Change AOS plugin default settings */
[data-aos=fade-down] {
  transform: translate3d(0, -35px, 0);
}

[data-aos=fade-up] {
  transform: translate3d(0, 35px, 0);
}

/* Input Labels */
label.requiredField::after {
  content: " *";
  color: red;
}
